@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #F2F2F2;
}
h1{
    font-size: 70px;
    font-weight: 800;
}

/* header styles */
header{
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 50px 0;
}
.container{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    align-items: center;
    background-color: #161616;
    width: 1350px;
    height: 640px;
    border-radius: 15px;
}
.sub-container.header-text{
    padding-left: 120px;
}
.sub-container img{
    width: 96%;
    padding-top: 29px;
    padding-left: 68px;
}
.top-btn{
    width: 187px;
    height: 56px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    background-color: #DD0000;
    color: #fff;
    margin: 30px 0;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-in-out 0.3s;
}
.top-btn:hover{
    box-shadow: inset 187px 0 0 0 #fff;
    color: #000;
}

/* blog section styles */ 
main{
    display: flex;
    justify-content: center;
}
.blog-section{
    display: flex;
    justify-content: space-between;   
}
.blog-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    background-color: #161616;
    padding: 30px;
}
.blog-menu a{
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: 700;
}
.blogNameList{
    border-radius: 10px;
    padding: 20px 40px;
    background-color: #fff;
    transition: ease-in-out 0.5s;
}
.blogNameList.active{
    background-color: #DD0000;
    color: #fff; 
}
.blogNameList:hover{
    background-color: orange;
    color: #000;
}
.grid-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.blog-section{
    width: 1350px;
    height: auto;
    border-radius: 15px;
}  
.blog-aside{
    width: 312px;
    height: 362px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #0c0c0c80;
}
.aside-tag{
    width: 120px;
    height: 35px;
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 6px 23px;
    font-size: 16px;   
    font-weight: 700;
    margin: 20px 10px 20px 20px;
}
.blog-aside-text h3{
    font-size: 17px;
    font-weight: 700;
    margin: 10px 20px;
}
.icon-flex{
    display: flex;
}
.icon{
    margin: 20px 20px;
}
.hidden{
    visibility: hidden;
    position: relative;
    left: 40%;
}

/* footer styles */
footer{
    display: flex;
    justify-content: center;
    background-color: #161616;
    color: #fff;
    margin-top: 50px;
}
.footer-gool{
    width: 1350px;
    height: 400px;
    display: flex;
    Flex-direction: column;
    justify-content: center;
    text-align: center;
}
.footer-head h2{
    font-size: 40px;
    font-weight: 700;
}
hr{
   border: 1px solid #ffffff62;
   margin: 30px
}
.footer-menu nav a{
    text-decoration: none;
    color: #B9B9B9;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 600;
}

/* Uocoming mach  */

.mach-aside{
    width: 312px;
    height: 242px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #0c0c0c80;
    padding: 40px;
}
.mach-flag-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mach-aside-img{
    padding: 0 20px;
}
.mach-aside-text h3, p{
    margin: 10px 0;
}

/* Responsive tablat site */
@media screen and (max-width: 1340px) and (min-width: 768px){
    body{
        font-size: 14px;
    }
    h1{
        font-size: 40px;
    }
    .container{
        width: 734px;
        height: 398px;
    }
    .sub-container.header-text{
        padding-left: 55px;
    }
    .sub-container img{
        width: 97%;
        padding-top: 50px;
        padding-left: 25px;
    }
    .top-btn{
        width: 160px;
        height: 48px;
        font-size: 16px;
        margin: 10px 0;
    }
    .top-btn:hover{
        border: 1px solid #DD0000;
        background-color: #fff;
        color: #DD0000;
    }

    .blog-section{
        display: block;
        width: 734px;
        height: auto;
        border-radius: 15px;
    }
    .blog-menu{
        display: flex;
        width: 734px;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        background-color: #F2F2F2;
    }
    .blog-menu a{
        width: 230px;
        height: auto;
        font-size: 12px;
        margin: 0 20px;
    }
    .blog-aside:last-child{
        visibility: hidden;
    }
   
    .grid-layout{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .blog-aside{
        width: 312px;
        height: 362px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: 0px 0px 3px #0c0c0c80;
    }
    .aside-tag{
        width: 120px;
        height: 35px;
        border: 1px solid #161616;
        border-radius: 5px;
        padding: 6px 23px;
        font-size: 16px;   
        font-weight: 700;
        margin: 20px 10px 20px 20px;
    }
    .blog-aside-text h3{
        font-size: 17px;
        font-weight: 700;
        margin: 10px 20px;
    }
    .icon-flex{
        display: flex;
    }
    .icon{
        margin: 20px 20px;
    }
    .top-btn.hidden{
        visibility: visible;
        position: relative;
        bottom: 200px;
    }
    
}   
/* Responsive mobile site */
@media screen and (max-width: 767px) and (min-width: 220px){
    body{
        font-size: 14px;
    }
    h1{
        font-size: 22px;
    }
    header{
        display: flex;
        justify-content: center;
        color: #fff;
        margin: 50px 0;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 334px;
        height: 472px;
    }
    .sub-container.header-text{
        padding: 30px 30px 0 30px;
    }
    .sub-container img{
        width: 88%;
        padding-top: 0;    
        padding-left: 50px;
        padding-right: 37px;
    }
    .top-btn{
        width: 160px;
        height: 40px;
        font-size: 16px;
        margin: 10px 0;
    }
    .top-btn:hover{
        border: 1px solid #DD0000;
        background-color: #fff;
        color: #DD0000;
    }

    .blog-section{
        display: block;
        width: 334px;
        height: auto;
        border-radius: 15px;
    }
    .blog-menu{
        width: 734px;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #F2F2F2;
    }
    .blog-menu a{
        width: 230px;
        height: auto;
        font-size: 12px;
        margin: 5px 0;
    }
    .blog-aside:last-child{
        visibility: hidden;
    }
   
    .grid-layout{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blog-aside{
        width: 312px;
        height: 362px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: 0px 0px 3px #0c0c0c80;
    }
    .aside-tag{
        width: 120px;
        height: 35px;
        border: 1px solid #161616;
        border-radius: 5px;
        padding: 6px 23px;
        font-size: 16px;   
        font-weight: 700;
        margin: 20px 10px 20px 20px;
    }
    .blog-aside-text h3{
        font-size: 17px;
        font-weight: 700;
        margin: 10px 20px;
    }
    .icon-flex{
        display: flex;
    }
    .icon{
        margin: 20px 20px;
    }
    .top-btn.hidden{
        visibility: visible;
        position: relative;
    }
    .footer-gool{
        width: 334px;
        height: auto;
        padding: 80px 0;
        display: flex;
        Flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .footer-head h2{
        font-size: 30px;
        font-weight: 600;
    }
    hr{
       border: 1px solid #ffffff62;
       margin: 30px
    }
    .footer-menu nav a{
        display: block;
        margin: 20px;
        text-decoration: none;
        color: #B9B9B9;
        padding: 0 30px;
        font-size: 18px;
        font-weight: 600;
    }
    
}   